*{
    margin:0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
body{
    background:black;
    color:white ;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(/public/images/bgd1.jpeg);
    background-size:cover ;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
    position: relative;
    left: 0px;
    top: 20px;

}
.header1{
    position: fixed;
}
.logo-title{
    width: 200px;
    position: absolute;
    right: 95%; 
    top: 0px;
    }
.logo2 img{
    width: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rosybrown;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;


}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background:pink ;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    padding: 45px 0 0px 45px;
    font-size: 20px;
}
.header-image {
    max-width: 100px; 
    margin-right: 20px; 
    }

.header-container {
    display: flex;
    align-items: center;
    }    
.header-text h2{
    font-size: 30px;
    margin-top: 20px;
}
.header-text h2 span{
    color: pink;
}
.about-col-2 p{
    margin-top: 10px;
    color: white;
}
.dance-text p{ 
    margin-top: 30px;
}
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    font-size: 50px;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width: 350px;
    background-color: white;
    border: 1px solid #ececec;
    margin: 20px;
}
.blog-image{
    width: 100%;
    height: auto;
    #image1{
        height: 488px;
    }
    #image3{
        height: 522px;
    }
}
.blog-image img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    font-size: 30px;
    color: pink;
}
.blog-text span:hover{
    color: lightcoral;
}
.blog-text h4{
    color: lightcoral;
    margin-top: 20px;
}
.blog-text p{
    font-size: 15px;
    color: #111;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;
}
.blog-text a:hover{
    transition: all ease 0.5s;
    color: red;
}
.travel-blog h2{
    color: white;
    text-align: center;
    text-align: center;
    margin: 20px 35px 20px;
}
.travel-blog h1{
    color: white;
    position: relative;
    font-size: 15px;
    text-align: center;
}
.travel-blog p{
    margin-top: 20px;
    font-size: 20px;
}
.travel-image{
    text-align: center;
}
.travel-image img{
    margin-top: 30px;
    width: 410px;
    height: 440px;
}
.dance-blog h2{
    color: white;
    text-align: center;
    text-align: center;
    margin: 20px 35px 20px;
}
.dance-blog h1{
    color: white;
    position: relative;
    font-size: 20px;
    text-align: center;
}
.dance-blog p{
    margin-top: 20px;
    font-size: 26px;
}
.dance-text, .travel-text, .cook-text{
    margin-top: 60px;
}
li.navbar-item {
    float: right;
    list-style: none;
}
a.nav-link {
    text-decoration: none;
    color: white;
}
.dance-image{
    text-align: center;
}
.dance-image img{
    margin-top: 30px;
    width: 450px;
    height: 500px;
}
.cook-blog h2{
    color: white;
    text-align: center;
    text-align: center;
    margin: 20px 35px 20px;
}
.cook-blog p{
    margin-top: 20px;
    font-size: 20px;
}
.cook-blog h1{
    color: white;
    position: relative;
    font-size: 15px;
    text-align: center;
}
.cook-image{
    text-align: center;
}
.cook-image img{
    margin-top: 30px;
    width: 430px;
    height: 440px;
}
#about{
    padding: 80px 0;
    color:white ;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 280px;
    margin-top: 80px;
    border-radius: 15px;
    top: 50%;
    margin-left: 10%;
}
.about-col-2{
    align-self: center;
    width: 50%;
}
.about-column-2{
    margin-top: 90px;
}
.title{
    font-size: 50px;
    font-weight: 500;
    color: pink;
}
.about-col-1{
    width: 50%;
    align-items: center;
    text-align: center;
}
.tab-titles{
    display: flex;
    padding-bottom: 20px;
    margin: 20 px 0 0px;
    color: lightseagreen;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer ;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: lightcoral;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 15x;
    color: white;
    margin-top: 40px;
}
.tab-contents ul li span{
    color: pink;
    font-size: 20px;
    margin-top: 10px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}
.inbox__people{
    color: white;
    padding: 16px;
}
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}
.content {
    margin-left: 200px;
    padding-left: 20px;
}